Repository b2network/b2-node, pull requests merged in 2023-12, with the labels that each got.

#70 issue 68
  bitcoin/bridge_test.go
  bitcoin/commiter_service.go
  bitcoin/committer.go
  bitcoin/config.go
  bitcoin/config_test.go
  bitcoin/state.go
  bitcoin/state_test.go
  bitcoin/testdata/bitcoin.toml
  server/start.go
Labels: feature

#87 Fix bridge
  bitcoin/bridge.go
  bitcoin/bridge_test.go
  bitcoin/indexer_service.go
  types/bitcoin_bridge.go
Labels: C:Types

#89 fix chain config
  bitcoin/committer.go
  bitcoin/config.go
Labels: bug

#92 eoa transfer
  bitcoin/bridge.go
  bitcoin/bridge_test.go
  bitcoin/indexer_service.go
  bitcoin/testdata/bitcoin.toml
  types/bitcoin_bridge.go
Labels: C:Types
